[2015-09-16 18:58] kenumir opened #1 "Add gradle support"
Add gradle/maven support for faster include in projects

[2015-09-16 19:00] heysupratim commented on #1
its coming they say . coming so very soon

[2015-09-17 09:35] xingag commented on #1
Add more custom attributes

[2015-09-18 17:28] TurKurT656 opened #2 "Persian Calendar"
cool, this is great.
i love ur lib. its awesome

can u add persian calendar too??

TnQ

[2015-09-18 17:29] Saren-Arterius commented on #2
Don't forget to add all the calendars AROUND THE WORLD as well ;)

[2015-09-18 17:48] heysupratim commented on #2
I think contributions will be welcome for other languages and regions :)

[2015-09-18 17:49] Saren-Arterius commented on #2
btw, I am really waiting this on gradle.

[2015-09-19 06:22] heysupratim commented on #1
Gradle Support is now present in version 1.1 check the readme

[2015-09-19 06:22] heysupratim commented on #2
@Saren-Arterius  - added the gradle support check the readme

[2015-09-19 06:22] #2 closed, assigned to nobody

[2015-09-22 11:27] Harti commented on #1
I'm getting:

[code]

build.gradle:

[code]

Is the namespace incorrect?
Earlier it told me something about erroneous metadata (and something about it found "material-datetime-picker" instead of "library" - but putting the former didn't work either).

[2015-09-22 12:27] heysupratim commented on #1
Hey - issue is fixed - write this as the group id and artificact id - compile 'com.borax12.materialdaterangepicker:library:1.2'

[2015-09-22 18:59] bakua opened #3 "Support for older androids?"
Hey, is it possible to backport your library for older APIs please? API 10 would be awesome. Thanks

[2015-09-23 07:59] Harti commented on #1
Thanks, Gradle inclusion works perfectly now!
Thank you for the very swift reply and for making this library.

[2015-09-23 08:01] #1 closed, assigned to heysupratim

[2015-10-08 17:08] AdamCopperfield opened #4 "setAccentColor doesn't work for TimerPickerDialog on v1.2"

[2015-10-15 14:47] mtrakal opened #5 "Disable To older than From"
Hello,

is possible to disable days on To view which are older than From selected day by dialog settings?

I can calculate it manually and show Toast, but I didn't found any solution, how to cancel dismissing dialog after OK clicked.
I check setOnDismissListener which dismiss dialog, but I'm not able to stop dialog dismissing.

[2015-10-15 14:55] mtrakal opened #6 "Date picker To jump back after click on day"
Date picker on To card jump back on current month after select some day in onother month/year than is current.
- select some day in FROM card
- swipe to next month
- click on some day
- ! calendar jump back on actual month selected in FROM card.

The behavior on FROM and TO cards is different.
Tested on Android 5.0

[2015-10-30 22:52] seanhouli commented on #6
I am affected by this odd behavior as well. It is very jarring. An update to fix this ASAP would be greatly appreciated.

[2015-11-10 04:49] heysupratim commented on #6
@mtrakal @seanhouli - sorry for the delay , working on the fix tonight . Will be up with other awesome bug fixes

[2015-11-14 19:43] MFlisar opened #7 "Allow to initialise the start AND end time/date values"
As in the title, it would be nice to be able to select the default values for start/end time/date when creating a dialog. Simple setter for the end values would already be enough

[2015-11-17 02:32] samnab commented on #6
New to android so IDK if I'm missing something obvious but I'm getting a NoSuchFieldError and is pointing to R.id.tabHost, R.id.start_date_group and R.id.end_date_group for both the time and date picker dialogs. Any help would help me alot. Thanks

[2015-12-08 11:46] MeinLieberScholli opened #8 "NoSuchFieldError"
i implemented the sample code, but got the following error:

java.lang.NoSuchFieldError: com.borax12.materialdaterangepicker.R$id.tabHost at com.borax12.materialdaterangepicker.time.TimePickerDialog.onCreateView(TimePickerDialog.java:281)

[2015-12-14 11:26] samoremec commented on #8
It's a problem if you're also using the com.wdullaer:materialdatetimepicker library.
Did you by any chance find a workaround?

[2015-12-14 17:48] MeinLieberScholli commented on #8
Ah, thanks. I will try to find a workaround.

[2015-12-16 13:15] MFlisar opened #9 "Hardcoded strings"
`DatePickerDialog` defines "FROM" and "TO" strings in the code. Should be done via a string resource so that it's possible to localise those strings...

[2015-12-16 17:42] #9 closed, assigned to heysupratim

[2015-12-16 18:30] #8 closed, assigned to nobody

[2015-12-16 18:32] heysupratim commented on #5
@mtrakal It is possible , but i am keeping it simple as of now, keeping these logics separate from the library , pertaining to users use case is better i think

[2015-12-16 18:32] #5 closed, assigned to heysupratim

[2015-12-16 18:37] heysupratim commented on #3
@bakua As of now its 4.0 and up . You are free to fork it and do the needful , otherwise i will be taking it as a pretty big rewrite , which might take some time

[2015-12-16 18:37] #3 closed, assigned to nobody

[2015-12-16 19:01] heysupratim commented on #7
@MFlisar the start time initialization already exist

[2015-12-16 19:01] #7 closed, assigned to nobody

[2015-12-16 19:31] #4 closed, assigned to nobody

[2015-12-16 19:32] heysupratim commented on #6
@samnab in v1.3 you wont find the fix - fixed it :)

[2015-12-16 19:35] heysupratim commented on #6
@mtrakal @seanhouli . I am trying but cant reproduce the case. Do i also need to select the day and press ok .

[2015-12-17 07:18] MFlisar commented on #7
But not the end time... At least not if both times differ...

After someone once used the picker he probably selected a start and end time. If he wants to change the range again, I want to init independent start and end times

[2015-12-17 13:43] MFlisar opened #10 "Enable custom theme color"
Can you add a function to allow custom theme color? I saw the `DatePickerDialog` retrieves the accent color from the theme in it's `onCreateView`. It would already be good enough to add a protected function `getAccentColor()` and implement your default code in this function so that I can at least overwrite it with a custom function...

[2015-12-17 13:56] MFlisar commented on #7
Here's the solution to show what CAN'T be done yet:

[code]

[2016-01-20 00:40] Sharj commented on #6
I can reproduce the case as well on Android 5.1 - Nexus 4.

You don't have to press ok.

If `To` and `From` months are not the same, then in `To` view when you tap on a date, it's changed in the header but month view is moved to `From` month.

[2016-01-24 20:45] csbenz commented on #8
Did you update this on jcenter repo? I still have the same problem using the two libraries. Thanks.

[2016-01-24 21:38] csbenz commented on #8
I can see a version 1.3 [here](https://bintray.com/borax12/maven/material-datetime-rangepicker/1.3/view), but when I try and compile with 1.3 in android studio, it cannot find it.
Any help?

[2016-01-25 02:29] heysupratim commented on #8
@csbenz did you try clearing /invalidating cache and then syncing the project again ?

[2016-01-25 09:55] figus1909 opened #14 "Change HEADER["FROM" "TO"]"
I need to change the "FROM" and "TO" strings on top of DatePicker, such that I am using multilanguage app. Which string I have to define in strings.xml file in order to change this headers.

[2016-01-25 09:58] heysupratim commented on #14
i am going to release the new version which will have the setTitle and setEndTitle method . as of now , check the code for tabhost.setIndicator("start") and tabhost.setIndicator("end")  to change the strings .

[2016-01-25 10:11] figus1909 commented on #14
Could you please explain briefly what should I do in order to change
strings ? Sorry I new to android -(
25 янв. 2016 г. 13:58 пользователь "Supratim Chakraborty" <
notifications@github.com> написал:

[2016-01-25 10:35] heysupratim commented on #14
@figus1909 - i updated the new version , 1.4. Use that library function setStartTitle and setEndTitle

[2016-01-25 10:49] figus1909 commented on #14
Now App crashes , if I comment setTitle and setEndTitle lines everything works ok, hovewer when I used them it compiles without no problem , but on opening of DatePickerDialog crashes.

[2016-01-25 10:57] figus1909 commented on #14
My Main Activity is

package com.huseyn.mytestservice.app.activities;

import android.app.DatePickerDialog;
import android.app.Dialog;
import android.app.ProgressDialog;
import android.os.Bundle;
import android.support.annotation.Nullable;
import android.support.v7.app.AppCompatActivity;
import android.support.v7.widget.LinearLayoutManager;
import android.support.v7.widget.RecyclerView;
import and

[2016-01-25 10:58] heysupratim commented on #14
@figus1909 - hey i had accepted somebodys pull request without reviewing it , and it was a wrong code, fixed it and released 1.5. Please look at it now :) Also i will be overhauling this library very soon to be more customizable , so keep an eye out for it :)

[2016-01-25 11:06] figus1909 commented on #14
Great work !!! Thank you a lot !

[2016-01-25 13:35] #14 closed, assigned to nobody

[2016-01-25 16:36] csbenz commented on #8
@borax12 Didn't work either. But I saw you updated the readme and it noe works with 1.5.
Thank you!

[2016-01-25 18:57] heysupratim commented on #8
Always there for my users

On Mon, Jan 25, 2016, 10:06 PM Christopher Benz notifications@github.com
wrote:

[2016-01-27 08:58] figus1909 opened #15 "Can't select end date month different from start date month"
Hello I found new bug when I select start date month and then want to select end date month which is different from selected start date month , it selects but it returns you in same month which was selected on start date.

[2016-01-27 09:04] heysupratim commented on #15
@figus1909 - Can you elaborate more, i am trying to replicate it , it isnt happening on my end

[2016-01-27 09:12] figus1909 commented on #15
for Example on From tab select January 20 2016, then go to To tab and select month different from January - for example select June 30 2016 , you will see that even if you select the 30 JUNE 2016 the calendar view will return to january 2016 view , however if you will scroll to 30 JUNE you will see that date selected , just after you press it it return you to January 2016 month(The month selected

[2016-01-27 09:15] heysupratim commented on #15
Ah i got that , well give me some time , will fix it tonight , by the time if you do get time to look at the code , feel free to give a PR for the same

[2016-01-27 09:22] figus1909 commented on #15
ok, I am waiting for fix :) I think in issue "Date picker To jump back after click on day #6" have the same issue.

[2016-01-27 12:13] paralen opened #16 "Initialize DateRangePicker with end date"
It is possible to initialize DateRangePicker with a custom end date? It would be nice if we could set arbitrary start and end date.

[2016-01-27 12:15] heysupratim commented on #16
@paralen -  i will be definitely looking into this . There is so much going , maintenance becomes tough, if at all you do end up making that feature. Do submit a PR. I will review it

[2016-01-28 03:32] heysupratim commented on #6
@sharj - yeah i think i got the issue. Well be checking it out. If in the mean time you find the solution. Submit a pr

[2016-01-28 08:06] figus1909 commented on #15
Dear Borax12 were you able to fix the bug ? :/

[2016-01-28 09:47] heysupratim commented on #15
@figus1909 - fixed check in version 1.6

[2016-01-28 09:47] #15 closed, assigned to nobody

[2016-01-28 09:47] heysupratim commented on #6
@Sharj - fixed this , check in 1.6

[2016-01-28 09:47] #6 closed, assigned to heysupratim

[2016-01-28 10:26] figus1909 commented on #15
Error:(47, 13)  Failed to resolve: com.borax12.materialdaterangepicker:library:1.6

[2016-01-28 10:29] heysupratim commented on #15
go to project and clear cache / and do a project clean

[2016-01-28 10:31] figus1909 commented on #15
Do I need to change version from 1.5 to 1.6 in build.gradle ?
28 янв. 2016 г. 14:29 пользователь "Supratim Chakraborty" <
notifications@github.com> написал:

[2016-01-28 10:32] heysupratim commented on #15
yeah and do a gradle sync and project clean

[2016-01-28 10:38] figus1909 commented on #15
compile 'com.borax12.materialdaterangepicker:library:1.6' I added this dependency in gradle , and done clean project again  got this error

[2016-01-28 10:39] figus1909 commented on #15
Also as I can see the gradle dependency didn't updated in gitPage maybe this is somehow related :/ sorry I am newbie

[2016-01-28 10:41] heysupratim commented on #15
do one thing, remove the dependency and then do a gradle sync and then add it again

[2016-01-28 10:44] figus1909 commented on #15
Checked didn't work, again same error I also tried writing the version 1.4, 1.3, 1.2 it synced without no problem but while writing 1.6 it gives this error

[2016-01-28 10:47] heysupratim commented on #15
can you reach this url - http://jcenter.bintray.com/com/borax12/materialdaterangepicker/library/
also you do have jcenter() added in the repository info right ?

[2016-01-28 10:50] figus1909 commented on #15
buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:1.1.1'
    }
}
apply plugin: 'com.android.application'

repositories {
    jcenter()
}

android {
    compileSdkVersion 23
    buildToolsVersion "23.0.2"

[code]

}

dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    compile 'com.android.support:appcom

[2016-01-28 10:54] heysupratim commented on #15
I tried in some other new project and it worked for me. can you try it in a fresh project?

[2016-01-28 10:59] figus1909 commented on #15
Dear Borax12 sorry I think I am facing proxy problem on my PC now, such that I gave another dependency it also wasn;t able to resolve I will try to solve and let you know , thanks for your efforts!

[2016-01-28 11:01] heysupratim commented on #15
:+1: no probelm @figus1909 - just update me here if find the problem

[2016-01-28 11:08] figus1909 commented on #15
I have solved the problem , before today I was using ItelijIdea for Android projects, and today shifted to Android Studio because of rendering problems on IntelijIdea , the proxy was configured on Itelij however there it also was configured but with incorrect credentials )) my fauld just passed mistakenly wrong password, that why was facing sync problem )) Thanks for your efforts and patience!

[2016-01-28 11:14] heysupratim commented on #15
Ah thats what i was wondering. The sync issue should not occur if it was
working on all new  Projects I tried.

Anyways keep using the library and spread the word about it. Also if you
think a new feature can be added and you can contribute. Go ahead and send
a pr

On Thu, Jan 28, 2016, 4:38 PM Huseyn Pashayev notifications@github.com
wrote:

[2016-01-28 11:19] figus1909 commented on #15
I will try , I am newbie in Android so have some problems , for now I am locally added the feature which checks that end date is greater than start date , if false case Toast popup and says that wrong interval and DateRangePicker popus again ))) this is my upgrade ))

[2016-01-28 11:26] heysupratim commented on #15
Hey no issues man, that is a good start. Keep building and the force will be with you :)

[2016-01-31 08:59] ghost opened #18 "Expose TabHost or key methods"
Want to intialise the date picker with the "end" tab.

With TabHost it is a simple method:
`tabHost.setCurrentTab(n);`

Is there a way to do this?

[2016-02-01 04:43] heysupratim commented on #18
@ZodiacZA - too swamped with work as of now . But yeah i am keeping my ears and eyes open for interesting additions :)

[2016-02-03 11:29] Lecraver opened #21 "Use the original library by wdullaer"
I am interested in using your library but also by the original, is it possible to use both ?
I have this when I add the second library :

[code]

In my gradle :

[code]

Is it possible not to use the from-to in MaterialDateRangePicker ?

Best regards,

[2016-02-03 15:57] NullPonyPointer opened #22 "Change tab indicator color"
How can we change tabs green indicator color to something else?

[2016-02-06 02:54] oliviadodge opened #23 "Scroll to Correct Month on Tab Change"
Hi, for the date range picker I noticed the scrolling behavior is faulty when you change tabs if you are not already at the position of the selected day. It will scroll to the month before the day you selected.

[2016-02-06 02:56] heysupratim commented on #23
hey @oliviadodge - can you check this issue in the latest version 1.6 i had fixed it in that version i remember

[2016-02-06 03:28] oliviadodge commented on #23
hi @borax12 - so sorry I should have been more clear in my description! I'll list the steps to reproduce the bug.
1. open the date picker and select a start date for sometime in the future (March 15 for example)
2. scroll to another month on the day picker view, but do not select another day (August for example).
3. click on the end date tab.
4. click back on the start date tab. This should cause

[2016-02-11 20:49] ghost opened #26 "Only one option, instead of From & To"
Is there a way to only enable one option dialog, no two (From & To). I know the whole point of this library is that it is a range picker, but it's probably worth asking.

I need a range picker for date, but only single picker for time. My options are to use android picker for time, but I want it to look the same for older versions of Android.

[2016-02-22 06:49] figus1909 opened #27 "Set different dates to end and start tab"
Is there a possiblity to set different default dates to end and start date. I want date picker to open with different start and end dates.

[2016-02-29 21:15] csbenz commented on #27
I want this too and it doesn't seem possible... a bit silly

[2016-02-29 22:46] csbenz commented on #27
Pull Request #17 solves the problem, maybe we can complete the pull request! Will look into it tomorrow if I find the time.

[2016-03-01 14:44] csbenz commented on #16
See #17

[2016-03-01 15:58] csbenz opened #28 "Weird characters at end of TextView"
See [this image](https://dl2.pushbulletusercontent.com/68aDbVvH5FxWnpcXPumwDDv5yw7Zx6qc/Screenshot_20160301-165635.png).
On the "From" tab, I have additional characters that shouldn't be there.
The "To" tab is fine.

[2016-03-07 21:58] glnix opened #29 "Words "From" and "To" are not localized"
In date picker words "From" and "To" are not localized. See image https://yadi.sk/i/bzup65yJpyRrZ

[2016-03-07 22:15] glnix commented on #29
Ooops. Use setStartTitle and setEndTitle for this.

[2016-03-07 22:15] #29 closed, assigned to nobody

[2016-03-14 18:39] lucas-marciano opened #30 "Translate texts"
Hi,

How can I change the language of the texts to pt-br, for example?

[2016-03-27 18:07] murithi-evans opened #31 "Crash on android 4.4.2"
Hey,
I'm getting this error on android 4.4.2 devices
`java.lang.RuntimeException: Unable to start activity ComponentInfo{package/package.MainActivity}: android.view.InflateException: Binary XML file line #26: Error inflating class Button`.
It works fine on other devices

[2016-04-02 10:39] heysupratim commented on #30
@lucas-marciano  You will have to add the translated strings the corresponding resource qualifier folders . values-pt-br in your case. I would be glad if you could translate the strings to your language of choice . I will merge it for the community's good

[2016-04-02 10:39] #30 closed, assigned to nobody

[2016-04-02 10:40] heysupratim commented on #28
@csbenz Can you elaborate when exactly is this happening ?

[2016-04-02 10:43] heysupratim commented on #27
@figus1909 @csbenz - i am merging the changes today . So thanks for reporting these issues and i hope the next version solves your issue

[2016-04-02 10:43] #27 closed, assigned to nobody

[2016-04-02 10:45] heysupratim commented on #26
@skmlcd  you will have to disable the tabhost second tab . Why dont you help add these feature . Seems like an easy code . I am working on other things , so i would be glad if you could help me add the feature.

[2016-04-02 10:45] #26 closed, assigned to nobody

[2016-04-02 10:46] heysupratim commented on #16
@paralen @csbenz  - merging the PR :)

[2016-04-02 10:46] #16 closed, assigned to nobody

[2016-04-02 11:01] heysupratim commented on #23
The PR you pushed does fix that . Thanks for the contribution. Keep looking around and adding stuff that you feel is relevant . I did the code review and it is working fine now

[2016-04-02 11:01] #23 closed, assigned to nobody

[2016-04-02 11:02] heysupratim commented on #21
I will be adding the regular singular date and time pickers too . so i think that will remove the need to use both the libs :)

[2016-04-02 11:02] #21 closed, assigned to nobody

[2016-04-02 11:03] #18 closed, assigned to nobody

[2016-04-02 15:48] ghost commented on #26
You're right. Maybe I can write that code and submit a pull request, no promises though.

[2016-04-02 16:09] heysupratim commented on #26
Thanks. No hurry

On Sat, Apr 2, 2016, 9:18 PM Skmlcd notifications@github.com wrote:

[2016-04-05 12:07] lucas-marciano commented on #30
Tks man, i do it.

[2016-04-21 06:54] artests87 opened #32 "How can we change tabs green indicator color to something else (time picker)?"
Hi!
We can't change tabs green indicator color to something else (time picker).
Meanwhile we can change tabs  indicator color to something else (date picker).
Thanks.

[2016-04-21 07:13] artests87 commented on #32
Maybe you would make all color indicators changeable for users?
For you it just some minutes work...

[2016-04-21 14:08] artests87 opened #33 "End time for new instance TimePickerDialog"
Maybe you would make and "end time" in newInstance TimePickerDialog?

[2016-05-01 17:06] artests87 opened #34 "Tap again with no effect"
When I selected some items, I didn't deselect it.

[2016-05-01 17:08] #34 closed, assigned to nobody

[2016-05-01 17:08] artests87 commented on #34
((( Не туда

[2016-05-10 06:12] tinybright opened #35 "the textcolor and background of form and to is both white when it's no in dark mode."

[2016-05-10 09:17] CyberMew opened #36 "How to detect user tap FROM/TO"
Is there a way for us to know if user tap From/To?

Also, can we automatically jump to To when user has selected a date on From?

I would also like to highlight the selected range of dates, how is that possible?

It also looks like we can't detect date change?

[2016-05-19 09:19] csbenz commented on #27
@borax12 Thanks :)

[2016-05-19 12:57] csbenz commented on #33
+1
It was recently done for the Date picker, it should be easy to implement it for the Time picker.

[2016-05-19 13:42] csbenz commented on #33
See #37

[2016-05-24 06:19] bschouhan19 opened #38 "In "To" date calendar How to show selected date according to "From" date calendar"
Hello,
i am developing an app with range calendar  its awesome and helpful.
i have a problem,
i want that if user select a date from first calendar  ("FROM calendar" )
then in second calendar ("To calendar")  that date show selected so that user can select relative date from first calendar
please add a listener or method for that

please help
Thanks in advance

[2016-06-01 03:00] baylonedward opened #40 "setting initial date range"
initializing a new instance can only set date from and to with the same date,
can there be a way to set both date from and to independently.

[2016-06-09 05:36] csbenz commented on #33
Any update about this?

[2016-06-20 15:01] csbenz commented on #28
It's always there.  I'm calling it with:

[code]

[2016-06-20 15:15] csbenz commented on #33
Maybe it's easier to simply create a method "setEndTime" like the one that already exists for :
public void setStartTime(int hourOfDay, int minute)

[2016-06-20 15:39] csbenz opened #41 "TimePicker theme bug"
When setting a custom color for the dialog theme, the bottom is correctly themed, but the top layout isn't.

[2016-06-22 23:28] mengmengmengmeng commented on #14
Hi! is this also applicable on timepicker's header? thanks!

[2016-06-24 19:03] wildpascal commented on #7
@MFlisar thanks for this workarround. But this should be a feature in the core DatePickerDialog.

[2016-07-11 11:12] IzabellaMConigliaro commented on #28
Getting the same issue here. Any update?

[2016-07-31 23:24] leoliudeprecated opened #44 "Gradle Error:Could not find com.borax12.materialdaterangepicker:library:1.8."
Gradle Error:Could not find com.borax12.materialdaterangepicker:library:1.8.

http://gradleplease.appspot.com/#borax12
https://bintray.com/search?query=borax12

Anyone knows how to include this library?

[2016-07-31 23:34] leoliudeprecated commented on #44
This works though.
compile 'com.borax12.materialdaterangepicker:library:1.6

[2016-08-01 11:28] ragunathjawahar opened #45 "Crash when the library is used along with wdullaer/MaterialDateTimePicker"
[code]

[2016-08-11 06:18] ashif-ismail commented on #44
same error happens to me..

[2016-08-11 06:42] ashif-ismail opened #46 "Issue in displaying pickerdailog in fragment"
hello,i have tried this code
 `Calendar now = Calendar.getInstance();
DatePickerDialog dpd = DatePickerDialog.newInstance(
  MainActivity.this,
  now.get(Calendar.YEAR),
  now.get(Calendar.MONTH),
  now.get(Calendar.DAY_OF_MONTH)
);
dpd.show(getFragmentManager(), "Datepickerdialog");`
in my fragment,since we need to change the context where in the above code passes MainActivity.this,i also tried w

[2016-08-11 06:44] ashif-ismail commented on #46
voila it simply worked by using this code
`Calendar now = Calendar.getInstance();
                DatePickerDialog dpd = DatePickerDialog.newInstance(
                        nameOfMyFragment.this,
                        now.get(Calendar.YEAR),
                        now.get(Calendar.MONTH),
                        now.get(Calendar.DAY_OF_MONTH)
                );
                dpd.show(getFra

[2016-08-11 06:45] #46 closed, assigned to nobody

[2016-08-24 07:49] Kamil-Kaminski commented on #44
I have the same problem, I can't download 1.8 version. Last working version is 1.7.
@borax12 Could you investigate the issue?

[2016-08-24 14:05] larrytech7 opened #47 "Instantiate DatePickerDialog from Fragment"
Am using the v4 support version of the android Fragment and am unable to instate the date picker with version 1.7 of the library. All attempts to set the listener and the fragmentManager fail. The parameters are not being accepted. The listener is implemented on the Fragment and the fragment is hosted in an activity that extends AppCompatActivity.

[2016-08-24 14:13] Kamil-Kaminski commented on #47
I had the same issue today - to show DatePickerDialog inside v4 support Fragment, you have to do something like that:
`dialog.show(getActivity().getFragmentManager(), "tag");`

[2016-08-24 14:15] larrytech7 commented on #47
Ok works for the show method. What about the instantiate method? What needs to go there in this case?

[2016-08-24 14:17] Kamil-Kaminski commented on #47
Hmm, for instantiating the dialog, I do something like that:

[code]

[2016-08-24 14:19] larrytech7 commented on #47
Ohh, i see but that's not really how want to use it. I have implemented the interface on my fragment so i was expecting to just put this in the place.

[code]

[2016-08-27 20:57] larrytech7 commented on #47
Anyone with Fix, this thing is retarding my project. Need some assistance with this or i may switch to move forward.

[2016-08-28 14:53] SirajShan opened #48 "Make Selected date in TO tab always be greater than FROM selection"
If i select a future date in the From tab and i clicked on To tab. It is still showing current date as selected. The To tab value should be same or latter than The value selected in from tab.

[2016-08-30 07:38] yingzhox commented on #45
I met the same issue, any solutions?

[2016-09-06 01:35] faisalmohd83 commented on #48
Any thought on this? any lead would be appreciated.

[2016-09-10 05:20] altairmizuchi opened #49 "strange comment at onDayOfMonthSelected"
[code]

Because of this comment onDateChanged callback is not called when I choose a date. Was it commented for some reason?

[2016-09-11 03:38] drupalmav opened #50 "What version to use in build.gradle, 1.8 does not work"
1.8 does not work.
compile 'com.borax12.materialdaterangepicker:library:1.8'

What is the right version to use?

[2016-09-12 12:19] larrytech7 commented on #50
I think 1.7 should be the most recent release that is stable,  at least for me that's what is working. 1.8 may not have been published yet

[2016-09-15 23:02] ghost commented on #50
I have the same problem. 1.8 fails to resolve

[2016-09-16 01:33] ghost commented on #50
I found out that the 1.8 .jar was not generated, only the .aar file. (As it can be seen in the [bintray.com/borax12](https://bintray.com/borax12/maven/material-datetime-rangepicker/1.8#files/com/borax12/materialdaterangepicker/library/1.8) page)

So, to use this version, you need to add the "@arr" at the end of the version number, like this:
compile 'com.borax12.materialdaterangepicker:library:1.8

[2016-09-16 01:35] ghost commented on #44
Check out my comment in another issue. https://github.com/borax12/MaterialDateRangePicker/issues/50#issuecomment-247498454

[2016-09-23 08:51] benstone042 commented on #50
Use this
compile 'com.borax12.materialdaterangepicker:library:+'

[2016-10-11 20:41] wdullaer commented on #45
As both libraries use the same names for various things, you're going to have to cast using the full namespaced class names in your code if you use both at the same time.

[2016-10-11 22:24] deepwritescode commented on #50
Use this in Gradle compile 'com.borax12.materialdaterangepicker:library:1.8@aar'

This library is only available as a binary, This should be changed because the documentation doesn't come with the code.

[2016-10-12 07:11] deepwritescode opened #53 "The user should not be able to select a "FROM" date before the "TO" date"
When the user selects a date from the "FROM" tab, that date should be the maximum date so when the user clicks on the "TO" tab the date will be greater than or equal to the date in the "FROM" tab.

ex) if the user selects 10/11/16 in the "FROM" tab, the user should not be able to select a date earlier than that in the "TO" tab

[2016-10-16 14:17] heysupratim commented on #53
I have left those implementation logic to everyone's usage. Because this manner there are many conditional checks that can be possibly implemented

[2016-10-16 14:17] #53 closed, assigned to nobody

[2016-10-16 14:19] heysupratim commented on #50
@deep7176 @drupalmav @larrytech7 @PIPOKID @benstone042 - I will be updating the next version in a day , till then please use the binary , there was some issue with the jar.

[2016-10-16 14:19] #50 closed, assigned to nobody

[2016-10-16 14:31] heysupratim commented on #49
@altairmizuchi - yeah this is wrong , must have been old code . Thanks for pointing this out

[2016-10-16 14:34] heysupratim commented on #49
fixed in https://github.com/borax12/MaterialDateRangePicker/commit/ebdcd05b74d071b2d1b3452860983ff2e12aeb9b

[2016-10-16 14:34] #49 closed, assigned to nobody

[2016-10-16 14:51] heysupratim commented on #47
@larrytech7 the instance method is just dependent on the reference to DatePickerDialog.OnDateSetListener , so it can be a fragment or an activity

[2016-10-16 14:58] heysupratim commented on #28
@IzabellaMConigliaro @csbenz are you still getting the issue ? Can you please share the layout bound image with me

[2016-10-16 14:58] #28 closed, assigned to nobody

[2016-10-16 15:05] heysupratim commented on #22
it uses the accent color

[2016-10-16 15:05] #22 closed, assigned to nobody

[2016-10-16 15:19] heysupratim commented on #45
if you are using both the the libraries , then a full namespace resolution for all methods will have to be done , for example - com.borax12.materialdaterangepicker.date.DatePickerDialog.newInstance(.....) instead of just DatePickerDialog.newInstance(....)

[2016-10-16 15:19] #45 closed, assigned to nobody

[2016-10-16 15:20] heysupratim commented on #44
The jar is not included somehow in the 1.8 version , you will have to use the aar binary . I will be making sure the 1.9 version gets released in jar too

[2016-10-16 15:20] #44 closed, assigned to nobody

[2016-10-16 15:20] heysupratim commented on #41
I will be working on the custom theming in 2.0

[2016-10-16 15:20] #41 closed, assigned to heysupratim

[2016-10-16 15:22] heysupratim commented on #40
You can use the end parameter newinstance method

[2016-10-16 15:22] #40 closed, assigned to nobody

[2016-10-16 15:23] heysupratim commented on #38
A new method has been added to the code that will be released in 1.9 that shows the higlighted days , that will solve your problem

[2016-10-16 15:23] #38 closed, assigned to nobody

[2016-10-16 15:24] heysupratim commented on #36
@CyberMew Date change callback had an issue , it is fixed now , version 1.9 will have that working . highlight selected days is also added now

[2016-10-16 15:24] #36 closed, assigned to nobody

[2016-10-16 15:52] #33 closed, assigned to nobody

[2016-10-16 15:52] #10 closed, assigned to heysupratim

[2016-10-16 15:53] heysupratim commented on #47
@csbenz - can you check the reproducibility of this issue ?

[2016-10-16 15:56] heysupratim commented on #31
@murithi-evans ? Is this still happening ?

[2016-10-16 15:56] #31 closed, assigned to nobody

[2016-10-16 15:56] heysupratim commented on #35
custom color is now being added as top priority .

[2016-10-16 15:56] #35 closed, assigned to nobody

[2016-10-16 15:57] heysupratim commented on #32
Custom color through and through is being added as top priority now

[2016-10-16 15:57] #32 closed, assigned to nobody

[2016-10-21 13:58] akhil-14 opened #54 "How to show multiple months in the view?"
I am facing issue in showing multiple months in the date picker. Why i want to show this is so that the user knows how to move across the months

[2016-10-25 04:55] daordonez11 opened #55 "Change readme for TabWidget background"
Hey, I was looking how to change style but as you can see the other Repo does not include guide in how to change TabWidget background analizing your code I found that you can use "@color/mdtp_circle_background"
You can specify this on you readme and save people time :)

[2016-10-25 22:18] GutoMartins019 opened #56 "TimePickerDialog Words FROM an TO"
Hi @borax12, how are you?

First of all, thanks for your amazing work with this library.

Can i change the labels from the TimePickerDialog?

At.t

[2016-10-27 10:12] NageswaraRaoCH opened #58 "Functionality to disable Future dates"
how to disable future dates,i.e tomorrow on words....

[2016-11-01 20:57] DCodeOS opened #59 "ClassCastException"
Hello,
I saw different posts exposing this issue but any of those solved my case.
I specify full namespace of the DatePickerDialog
`Calendar now = Calendar.getInstance();
com.borax12.materialdaterangepicker.date.DatePickerDialog.newInstance(
                        null,
                        now.get(Calendar.YEAR),
                        now.get(Calendar.MONTH),
                        now.get

[2016-11-05 11:54] livotov commented on #56
picker.setTabIndicators(...)

[2016-11-08 16:15] irinalomaka commented on #59
@DCodeOS remove compile 'com.wdullaer:materialdatetimepicker:2.5.0'

[2016-11-08 17:33] irinalomaka opened #61 "Make listener on "Ok" button"
This listener will be very useful

[2016-11-08 17:35] irinalomaka commented on #48
We need to have a function to set a data in each tab.

[2016-11-08 21:59] GutoMartins019 commented on #56
Thank you!

[2016-11-08 21:59] #56 closed, assigned to nobody

[2016-11-10 20:26] Shakezulla57 opened #62 "TimePickerDialog"
Is there a way to detect when just the start time is updated, or when the tabs change? Basically I'm looking to automatically set the To time to be an hour ahead of the From time when they change the From value and switch tabs.

[2017-01-03 15:08] Kamil-Kaminski opened #64 "It doesn't work with original wdullaer/MaterialDateTimePicker"
If I want to use this library (for data ranges), and original library https://github.com/wdullaer/MaterialDateTimePicker (for one date picker) - then my gradle didn't sync, because of some ids conflicts:
[code]

[2017-01-26 21:14] deividas717 opened #65 "Listener for seperate FROM and TO tabs"
It is necessary to track if user pressed both from and to tabs (and set time or date) because sometime user only set time (FROM) and forget to set (TO)

[2017-02-08 11:23] meddd commented on #45
it dosn work. still i got errot
 at com.borax12.materialdaterangepicker.date.DatePickerDialog.onCreateView(DatePickerDialog.java:399)

[2017-02-08 11:40] meddd commented on #64
I get your sample of range picker, and in build.gradle  add:
compile 'com.wdullaer:materialdatetimepicker:3.0.0'
It is imposible to compile. Error describe above.

[2017-02-18 19:51] deividas717 commented on #62
still no update? :(

[2017-02-27 12:35] georgikoemdzhiev opened #66 "How to I change the text colour of the Tabs - FROM and TO?"
HI! First of all, thank you for the awesome library. It is very easy to use. I just have one question. How to change the colour of the two tabs at the top of the picker (TimePickerDialog more specificly). Currently, it looks like that:

![device-2017-02-27-123444](https://cloud.githubusercontent.com/assets/11027608/23361561/30d81680-fce9-11e6-80f5-ed723ecefc3e.png)

Thank you in advance!

[2017-03-20 16:54] benznest commented on #66
+1 I have the problem too.

[2017-03-20 21:10] a7medpa commented on #47
This simply does not work with fragments! Please post any working sample up if it is actually working with fragments, from what I see it does not work and everyone seems to have an issue with it.

[2017-04-09 16:05] RamithRD commented on #45
I can confirm the issue still persists.
` java.lang.NoSuchFieldError: No static field hours of type I in class Lcom/borax12/materialdaterangepicker/R$id; or its superclasses (declaration of 'com.borax12.materialdaterangepicker.R$id' appears in /data/app/com.example.ramithrd.lecturemanagementsystem-2/split_lib_slice_4_apk.apk)

[2017-04-17 17:54] Rouix commented on #66
@georgikoemdzhiev Have you solved the problem?) If so, how?)

[2017-05-26 11:24] chakradhar451 opened #68 "How to enable dates based on the from date"
Hi I want to disable in TO tab, all the dates before the date selected in FROM tab. Let me know how can I achieve this feature

[2017-05-26 14:26] GuoZhaoHui628 commented on #66
+1 i have the same problem,  if you haved fix this  please  show

[2017-05-26 15:37] GuoZhaoHui628 commented on #66
o  I solved the problem , change app module styles.xml
[code]
To
[code]

[2017-06-08 05:38] hasnain-ahmad opened #69 "Show only the year and month in the `MaterialDateRangePicker`"
Would you can add functionality to only show both of the year and month not the day in the `MaterialDateRangePicker`?

[2017-06-08 12:46] ghost opened #70 "Interval Time Range"
Does anyone know how can I put a 15 mins time range for the TimePickerDialog as in the original Project?

[2017-06-14 06:56] appukrb opened #71 "Range Mismach"
If I select the range from date as next year,to date range shows today only,How can I restrict the user to select to range greater than from range.

[2017-06-20 12:02] christianCallelero opened #72 "Adding singledatepicker"
Hi I would like to add a feature wherein we can use this library to somewhat disable the two tabs (From,To). So we can use it for just getting a single date. However I'm new to library cloning so can anyone help me with this? I know how to clone but my idea for adding this as a module is limited. Thanks

[2017-06-29 07:05] chakradhar451 commented on #68
Why there is no reply yet from the developers...

[2017-07-04 16:19] PunchyRascal commented on #72
In this case use the native Android date picker :)

https://developer.android.com/guide/topics/ui/controls/pickers.html

[2017-07-05 07:01] christianCallelero commented on #72
Yeah its possible but I want to keep the design consistent to all my datepicker. Anyway I was able to clone the project and create an option for single date. closing this thread now.

[2017-07-05 07:01] #72 closed, assigned to nobody

[2017-08-02 19:13] nifrasismail commented on #58
any update for this? How to disable the future dates?

[2017-08-16 09:02] thomas-ostrowski commented on #45
I had the same error.
`java.lang.NoSuchFieldError: No static field date_picker_header of type I in class Lcom/borax12/materialdaterangepicker/R$id; or its superclasses (declaration of 'com.borax12.materialdaterangepicker.R$id' appears in /data/app/my-app-package-1/split_lib_slice_9_apk.apk) at com.borax12.materialdaterangepicker.date.DatePickerDialog.onCreateView(DatePickerDialog.java:336) at andr

[2017-08-18 13:08] OmarMohamedDev commented on #66
If you don't want to change the whole app/activity theme, change just the style of the Dialog as was made here more in general (DatePickerDialog extends DialogFragment):https://stackoverflow.com/questions/15007272/how-to-change-the-background-color-around-a-dialogfragment

[2017-09-04 10:36] deshario opened #75 "Own Language Format"
How can i use my own language with this lib ... Is there any example

[2017-09-04 10:41] deshario commented on #30
@lucas-marciano Did u do it ? Can i have look (example) that how did you use your own language! Thankx

[2017-09-04 11:01] lucas-marciano commented on #30
@deshario I overwritten the library strings inside in my own string.xml file, see in the code what are the names.

[2017-09-05 06:42] lutvie72 commented on #75
can not, this is still under development and I plan to update the code. so anyone can easily develop it like adding language.

[2017-11-15 16:55] AngelusCuba opened #78 "I use the method setAccentColor but the color not changed"
Here is my code

[code]

I write a toast that shows the accent color
![spectacle tj6343](https://user-images.githubusercontent.com/21693591/32848813-56511ea2-ca25-11e7-9229-ac9919d95d3e.png)

[2017-11-16 07:21] mafujuls commented on #26
hey, Have you fix it? If not, please inform me. I will do it. I think it is a necessary feature.

[2017-11-17 08:37] pratikbutani opened #79 "How do I set default dates different"
As I show in syntax, you are passing **year, month and day**. Hopefully it will set default **from** and **to** date.

How can I set **fromDate** different like before six months and **toDate** as current date.

Thank you.

[2017-11-17 09:04] pratikbutani commented on #79
I found new constructor for specify from and to date individually.

[code]

Hope you will add in **ReadMe**

[2017-11-25 00:49] Zenger commented on #47
I know this is old but if somebody comes back here and is using this in a Kotlin project the @Kaminiak is right in your .show method don't use `fragmentManager` but use `activity.fragmentManager` and things will go smooth!

[2017-12-07 17:14] RozDavid commented on #64
Hi guys, I know its a bit late, but I found a way of solving it.
Because this lib was built based on the previous version of the original daterangepicker, this might make conflicts in the gradle build.
But using the version that borax used for his/her library will work just fine.

Just compile this version in your gradle:
compile 'com.wdullaer:materialdatetimepicker:2.5.0'

I hope I could help

[2017-12-23 23:37] Abdelkader90 commented on #71
hey, did you find a solution for this ?

[2017-12-23 23:39] Abdelkader90 commented on #68
hey did you find a solution for this ?

[2017-12-28 22:37] g33kidd opened #81 "Any way to get AM/PM values from onTimeSet?"

[2018-01-04 11:12] asaklex commented on #81
you can use[ this stackoverflow post ](https://stackoverflow.com/a/18831223/4904299)

[2018-01-05 06:08] sandeep2242 opened #82 "how to remove from to?"
How can I remove From To from this dialog

[2018-01-05 12:13] mayurdg93 opened #83 "How do I set min/max time in time range picker?"
Done. By adding required classes from https://github.com/wdullaer/MaterialDateTimePicker

[2018-01-05 12:27] sandeep2242 commented on #82
if anyone wants to remove .
1 Select project instead of android
2 go to external libraries
3 then go to layout< renge_date_picker_dialog.xml
4 ` <TabWidget
                android:id="@android:id/tabs"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:visibility="gone"/>`

[2018-01-05 12:27] #82 closed, assigned to nobody

[2018-01-06 09:58] #83 closed, assigned to nobody

[2018-01-12 07:36] sarah1230 commented on #45
java.lang.NoSuchFieldError: com.borax12.materialdaterangepicker.R$id.date_picker_header
                                                                               at com.borax12.materialdaterangepicker.date.DatePickerDialog.onCreateView(DatePickerDialog.java:336)
                                                                               at android.app.Fragment.performCreateView(Fragment.ja

[2018-01-13 18:26] wdullaer commented on #45
Are you sure you're using the latest version of MaterialDateTimePicker?
I prefixed all ids a while back, to avoid these type of conflicts.

[2018-01-16 18:07] vit001 commented on #45
This crash still exists with the latest version of MaterialDateTimePicker.

[2018-02-16 06:15] zeeshansardar61 opened #84 "How to increase size of the date picker?"
I am using this library for a tablet app, date appears a bit small, So can you please tell me a way out to increase the size of picker?

[2018-02-23 08:28] bliveinhack commented on #47
@borax12 @Zenger
we can not use `activity.fragmentmanager` inside the `fragment`. we must have to use `fragment's childFragmentmanager` according to android official

it would be great if you can just fix for support fragment manager.

Regards.

[2018-03-03 10:10] yangyongwang opened #86 "android 7.0 和8.0 原本显示星期的地方（一，二....）全都变成"周""

[2018-03-05 06:05] billy9222 opened #87 "Change tab upon selection of from date"
Is there a functionality in which i select from date it'll redirect me to TO tab automatically upon selection...if any please mention.

[2018-03-13 18:35] neri4488 commented on #68
Hello, did you find the solution for this, I don't want to select backward dates in TO field depending on FROM date.

[2018-03-20 16:55] amit-bhandari opened #88 "Can we make picker to automatically go to "TO" once clicked on "OK" in "FROM" tab? If not, will you be interested if I make the change and send pull request."

[2018-03-31 10:58] hodangquocdat opened #90 "Automatic maxDate tab FROM and minDate tab TO"
Can we make the selector to automatically minDate in tab "**TO**" from the "**FROM**" tab to the "**TO**" and maxDate in tab "**FROM**" from the "**TO**" tab to "**FROM**"?

[2018-04-13 15:08] suchoX commented on #45
The issue still exists!

[2018-04-25 12:14] dutchmo commented on #47
I'm sure this is because the parent library doesn't use support fragments:
https://github.com/wdullaer/MaterialDateTimePicker#why-not-use-supportdialogfragment

Their argument probably doesn't hold up since google has now deprecated fragments in favor of support fragments, but yeah. It would be an issue for the parent library to change that.

[2018-05-01 19:05] rostgoat opened #91 "Implementing OnTimeSetListener throws error to newInstace method"
Importing the date picker is fine, but the time picker is giving me issues.

gradle:
`implementation 'com.borax12.materialdaterangepicker:library:1.9'`

implement the interface:

`public class ChartsPage extends AppCompatActivity implements DatePickerDialog.OnDateSetListener, com.borax12.materialdaterangepicker.time.TimePickerDialog.OnTimeSetListener {
`

at this point, I override the methods and

[2018-05-01 19:28] #91 closed, assigned to nobody

[2018-05-01 21:02] rostgoat commented on #64
@RozDavid I just tested your solution with `'com.borax12.materialdaterangepicker:library:1.9'` and it does NOT work unfortunately.

[2018-05-05 07:05] JAICHANGPARK opened #93 "NullPointerException TimePickerDialog.onCreateView(TimePickerDialog.java:337)"
[code]

[code]

[2018-05-29 09:52] e4basil commented on #84
Is any way to increase size?

[2018-06-01 02:49] Caeson opened #94 "a mistake in README.MD"
In the snippet "Create a ``DatePickerDialog` using the supplied factory", the symble "`" is redundant.

[2018-06-29 06:47] arnavdots commented on #45
any luck on this, facing same issue

[2018-07-02 09:08] erlangparasu commented on #45
facing same issue

[2018-07-10 05:34] RamithRD commented on #78
Try setting the color programmatically , example:

dpd.setAccentColor(Color.parseColor("#ffa800"));

Worked on my end.

[2018-07-24 03:04] RamithRD commented on #72
@christianCallelero Hi, can you share the single date selection option you implemented?

[2018-07-27 05:06] Miteshmakwana73 commented on #87
did you find any solution?

[2018-08-04 09:26] taoqiyang commented on #86
MonthView.java 478行
String weekString = localWeekDisplayName.toUpperCase(locale).substring(0, 1)

[2018-08-09 05:52] ghost commented on #64
Hi,i found the problem and solved it, if u use both library "material time picker" and "material date range picker" together,It doesn't work because both library xml files Have the same name.u should add materialDateRangePicker to your project as a module and refactor->rename all the xml files and rebuild and run.its working

[2018-08-09 05:55] ghost commented on #45
Hi,i found the problem and solved it, if u use both library "material time picker" and "material date range picker" together,It doesn't work because both library xml files Have the same name.u should add materialDateRangePicker to your project as a module and refactor->rename all the xml files and rebuild and run.its working

[2018-08-09 05:59] erlangparasu commented on #45
thanks @atefeh-srch :+1:

[2018-08-31 07:59] chiragsheta opened #96 "Remove . -- above AM/PM"
##Update --added highlighted range selection method --added portuguese translation --add end time selection in TimePicker

How can i remove that -- ?

[2018-09-05 16:23] Ndack opened #97 "Time and Date Dialog never shown after clicked button on different fragment or other activity"
Hi ... Thank for your source code.
But i faced the problem; Time and Date Dialog never shown after clicked button when i want to include activity_main.xml to another xml files or by add that code on fragment. No errors occurs when i run or debug my application. I thought can you help me here allow dialog to be shown in any activities or any fragments.

Having a good day.

timeButton.setOnClickList

[2018-09-06 20:17] Xing1P opened #98 "can set select default start or end range?"

[2018-09-07 17:58] Ndack commented on #98
let check this may be it can help you https://github.com/PuffoCyano/Range-Time-Picker-Dialog

[2018-09-07 18:03] Ndack commented on #97
Hi ... i get solution on this problem

ON THIS CODE
tpd.show(getFragmentManager(), "Timepickerdialog");

//Add getActivity()
tpd.show(getActivity().getFragmentManager(), "Timepickerdialog");

AND ON THIS CODE
dpd.show(getFragmentManager(), "Datepickerdialog");

//Add getActivity()
dpd.show(getActivity().getFragmentManager(), "Datepickerdialog");

thank you all

[2018-09-21 03:37] gupengcheng commented on #86
中文改成String weekString = localWeekDisplayName.toUpperCase(locale);就行了

[2018-11-14 07:51] faeezmuhammed commented on #90
did you get any solution for this?

[2018-11-14 07:53] faeezmuhammed commented on #68
please respond developerss!!!!

[2019-02-14 22:17] napperley opened #100 "Library Conflicts With AndroidX Libraries"
When running the **app** task in Android Studio a error appears at the **Run tasks** stage:

[code]

Appears as though the MaterialDateRangePicker library is having conflicts with the AndroidX libraries. The MaterialDateRangePicker library shouldn't be registering the **android.support.v4.app.INotificationSideChannel** program type.

[2019-02-28 08:57] clunyes commented on #100
how you find this conflict?

[2019-03-04 08:52] dmz9 commented on #72
maybe it's late, but anyway: you could just subclass the datepicker, and override #onViewCreated.
use findViewById(android.R.id.tabs) to get "tabs" layout at hands and make it's visibility = GONE, so it is not displayed anymore. works with config change/screen rotation, because when view recreated - tabs are "GONE" again.
the ondatechange listener stays the same, except you do not use "end" dates,

[2019-03-23 10:13] edwinmugendi commented on #46
Ensure your Fragment Class implements DatePickerDialog.OnDateSetListener
eg

`public class DashboardFragment extends Fragment implements DatePickerDialog.OnDateSetListener {`

[2019-05-03 10:44] iAmVishal16 commented on #78
Got the same issue occurs?

[2019-06-26 08:15] pavelpoley commented on #100
How to solve this issue?
`dpd.show(.getSupportFragmentManager(), "Datepickerdialog");`

[2019-07-05 18:53] parzibyte commented on #75
What do you mean? if you want to change "From" and "To" just call setStartTitle and setEndTitle:

[code]

[2019-08-03 19:46] heysupratim commented on #47
This is fixed in the upcoming release. Uses 4.2.1 wduller codebase which uses support fragments

[2019-08-03 19:46] #47 closed, assigned to csbenz

[2019-08-03 19:46] heysupratim commented on #59
The two projects use a different resource qualifier now and this shouldn't be a problem anymore

[2019-08-03 19:46] #59 closed, assigned to nobody

[2019-08-03 19:47] heysupratim commented on #54
The next month does peek in the view

[2019-08-03 19:47] #54 closed, assigned to nobody

[2019-08-03 19:48] heysupratim commented on #55
Please suggest this as a change to the other library. The original library has a lot of theme options listed there

[2019-08-03 19:48] #55 closed, assigned to nobody

[2019-08-03 19:49] heysupratim commented on #100
This is fixed in the upcoming release. To see how it might work, please use the lastest code snapshot in the master branch

[2019-08-03 19:49] #100 closed, assigned to nobody

[2019-08-03 19:50] #98 closed, assigned to nobody

[2019-08-03 19:50] heysupratim commented on #94
This is fixed, thank you

[2019-08-03 19:50] #94 closed, assigned to nobody

[2019-08-03 19:51] heysupratim commented on #96
This has been removed. Thank you

[2019-08-03 19:51] #96 closed, assigned to nobody

[2019-08-03 19:52] heysupratim commented on #61
You get a callback when the date or time is set

[2019-08-03 19:52] #61 closed, assigned to nobody

[2019-08-03 19:54] heysupratim commented on #64
Hi everyone. I know this has long been overdue. I just recently came back to Open source development and this issue has been fixed now in the latest release. The two projects use a different resource qualifier now therefore, the library clashes shouldn't happen anymore

[2019-08-03 19:54] #64 closed, assigned to nobody

[2019-08-03 19:54] heysupratim commented on #75
Please add a translation PR if you think you want to add language support

[2019-08-03 19:54] #75 closed, assigned to nobody

[2019-08-03 19:56] heysupratim commented on #93
Not able to reproduce this issue. Closing this

[2019-08-03 19:56] #93 closed, assigned to nobody

[2019-08-03 19:57] heysupratim commented on #90
This is a very niche use case and I would suggest building upon the existing lib to allow for this use case

[2019-08-03 19:57] #90 closed, assigned to nobody

[2019-08-03 19:58] #86 closed, assigned to nobody

[2019-08-03 19:59] heysupratim commented on #88
The range selection is purposefully kept as a two-click process to allow for sustained confirmation on each user selection.

[2019-08-03 19:59] #88 closed, assigned to nobody

[2019-08-03 20:00] heysupratim commented on #87
The process has been purposefully kept as a two click process to allow for careful selection of range. However, this shouldnt be hard to build upon.

[2019-08-03 20:00] #87 closed, assigned to nobody

[2019-08-03 20:01] #66 closed, assigned to nobody

[2019-08-03 20:03] heysupratim commented on #62
You can implement an OnTimeSetListener or OnDateSetListener

[2019-08-03 20:03] #62 closed, assigned to nobody

[2019-08-03 20:15] #97 closed, assigned to nobody

[2019-08-03 20:17] #81 closed, assigned to nobody

[2019-08-03 20:18] heysupratim commented on #78
Not able to reproduce this issue. Closing it

[2019-08-03 20:18] #78 closed, assigned to nobody

[2019-08-03 20:20] heysupratim commented on #71
References issue #48 . Will close to keep just one issue open

[2019-08-03 20:20] #71 closed, assigned to nobody

[2019-08-03 20:21] #79 closed, assigned to nobody

[2019-08-03 20:21] heysupratim commented on #69
This is very nice and can be built as a custom use case.

[2019-08-03 20:21] #69 closed, assigned to nobody

[2019-08-03 20:22] heysupratim commented on #68
This has been refererenced in issue #48 . Will be closing this to keep that issue alive and issue will be fixed in upcoming 2.1 release

[2019-08-03 20:22] #68 closed, assigned to nobody

[2019-08-03 20:24] heysupratim commented on #70
Very niche use case therefore closing this

[2019-08-03 20:24] #70 closed, assigned to nobody

[2019-08-03 20:30] heysupratim commented on #84
As we use a DialogFragment you can do getDialog().getWindow().setLayout(width, height); to set a custom height and width

[2019-08-03 20:30] #84 closed, assigned to nobody

[2019-08-03 20:34] heysupratim opened #103 "Tab Change Listener"
Allow for a tab change listener when the user makes tab changes but hasn't pressed OK

[2019-08-05 05:04] hawkraph commented on #48
@Override
    public void onDateSet(DatePickerDialog view, int year, int monthOfYear, int dayOfMonth, int yearEnd, int monthOfYearEnd, int dayOfMonthEnd) {
        if(yearEnd < year){
            ShowMessage("Please select current or future year");
        }else if(monthOfYearEnd < monthOfYear){
            ShowMessage("Please select current or future month");
        }else if(dayOfMonthEnd < dayO

[2019-08-20 14:30] tomscholz opened #105 "DialogFragment api is deprecated"
Hi,
I'm running into this issue where when I'm using this library, that Android Studio gives me an error, saying that the DialogFragment API is deprecated. If I've understood the Android documentation correctly, we could solve this problem by switching to the [support library](https://developer.android.com/reference/android/support/v4/app/DialogFragment.html) or to [androidX](https://developer.and

[2019-08-22 06:50] pierrekhouryy opened #106 "I want to use this library in an androidx project"
HI,
I recently migrated my project to androidx, so everytime I try to show the dialog I have to pass a fragment manager from the android package, however the method .show() in the library requires an appcompat fragment manager. Is there a way around this or is impossible to use this library in an androidx project?
thanks,
Pierre

[2019-08-22 10:12] tomscholz commented on #106
Related to #105 :)

[2019-08-23 20:48] heysupratim commented on #106
Closing this issue as rightly pointed out by @tomscholz, it is an elaboration of issue #105. Tracking updates there

[2019-08-23 20:48] #106 closed, assigned to nobody

[2019-08-23 20:56] heysupratim commented on #105
Thanks for pointing this out. I would love to get some help on fixing this if anyone is interesting in putting out a PR for this.

If not, it will be the first thing I take up in my next lib update stretch

[2019-10-03 21:58] fullmoon6661 commented on #105
I stumbled on the same issue, any updates on androidx?

[2019-11-11 14:28] ibrahimbroachwala commented on #105
+1 with the issue. Any updates?

[2019-11-20 13:06] yasirtahir commented on #58
You can set the Max Date (In your case, it will be today), so that all the dates after the max date will be disable for selection.

dialog.setMaxDate(Calendar.getInstance()); // This will disable all the dates after today.

Similarly, there is an option to select Min Date to disable past dates. Please read more about them in the library.

[2019-11-20 13:09] yasirtahir commented on #48
I think @hawkraph is right. You can put validation once the User click OK button in the onDateSet method. Within this callback method, you can put any type of validation based on your business.

[2019-11-20 13:13] yasirtahir opened #107 "setAccentColor is not working with Time Picker"
When you set Accent Color on the Time Picker dialog, it is just changing the OK button and the selection circle but not working on Cancel button, Background of display of the selected time. Can you please fix it or put set methods so that we can set based on our requirements?

Current code from the lib. It should have cancel button and other views as well.
`if (mAccentColor != -1) {
          mTim

[2019-11-26 21:19] OneXeor commented on #105
+1

[2019-11-26 22:04] OneXeor commented on #105
I solved it with the deprecated fragment manager from Activity
activity?.fragmentManager?.beginTransaction()?.add(picker, "")?.commit()

[2019-12-05 02:29] carrymaster commented on #105
+1

[2020-02-11 07:52] aleksandrmozgovoi opened #110 "Update library for darkMode"
Hey. I would really appreciate if you would update the library with support for the dark theme. The color of the year is always black and it looks bad on a dark topic.
![2020-02-11_10-53-52](https://user-images.githubusercontent.com/17898218/74219000-8e1c3f80-4cbc-11ea-98ba-d973f2068414.png)

[2020-02-17 05:49] angad305 opened #111 "After selecting "From" , "To" selection to display automatically"
After selecting "From" date, the selection should jump to "TO" automatically else its very confusing. Any fix to do that.

[2020-03-17 21:24] xxkfjfredxx opened #112 "how to do it for tablets"
how to do it for tablets
I use the library on a tablet but it looks very small, how could I expand it?

[2020-04-15 22:43] rollin-s commented on #105
+1

[2020-04-15 22:56] rollin-s commented on #105
+1

If anyone have found a solution, I'd love to have it.

[2020-04-22 04:50] kantbinh opened #113 "The background header tab colors is always stick with White color"
On TimeRangePickerDialog, the background header tab color is always stick with White color, so it made the UI is broken when the app is set on NightMode or when setDarkTheme(true).

![image](https://user-images.githubusercontent.com/14269299/79941704-196d3a80-848f-11ea-97e9-83d914ce5d18.png)

[2020-04-22 04:55] kantbinh opened #114 "Support set layout version for TimeRangePicker"
Please support to set layout version 2 for TimeRangePicker like TimePickerDialog. Thanks

[2020-04-26 10:22] kantbinh commented on #113
Hello, any way work around to fix this issue?

[2020-05-10 04:12] #113 closed, assigned to nobody

[2020-05-10 04:14] kantbinh commented on #114
Hi, please support for this feature. Thank you.

[2020-05-12 14:17] yasirtahir commented on #107
Any updates on this?

[2020-06-09 08:11] vladkalyuzhny commented on #105
+1

[2021-02-03 06:45] vinay54-del opened #115 "How to implement on fragment in androidx"
How to implement on  fragment in androidx ,what parameters need to send in showI() in fragment and newInstance as welll

[2022-02-27 18:12] hafiz013 opened #116 "How to add multiple selection date range and edit back (suggestion radio button)"
how to do this?